/* Общий контейнер */
#full-container {
  display: flex;
  align-items: center;
  width: 48rem;
  border: 0.07rem solid #dddddd;
  border-radius: 0.25rem;
}

/* Контейнер для вывода результатов настройки */
#result {
  min-width: 36rem;
  padding: 1rem;
}

/* контейнер настройки параметров */
#params-container {
  min-width: 12rem;
  padding: 0.5rem;
  border-left: 0.07rem solid #dddddd;
}

.flex {
  display: flex;
}

.red {
  color: #fa5252;
}

.relative-div {
  position: relative;
}

.result-description {
  color: #868e96;
  line-height: 1.2;
}

/* используется для всех инпутов и селектов */
.text-input {
  height: 2rem;
  width: 100%;
  color: #000;
  border: 0.07rem solid #dddddd;
  transition: border-color 100ms ease;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-input:focus-within {
  border: 2px solid #228be6;
}

.margin-top {
  margin-top: 0.5rem;
}

.font-bold {
  font-weight: bold;
}

/* стрелочки в селектах */
.arrow {
  position: absolute;
  top: 0.5rem;
  right: 0;
  pointer-events: none;
}

.img-arrow {
  width: 1.4rem;
}

.pointer {
  background-color: #e9ecef;
  cursor: pointer;
}

#disabled-input,
#required-input {
  overflow: hidden;
  position: absolute;
}

.toggle-label1 {
  cursor: pointer;
  position: relative;
  border-radius: 2rem;
  background-color: #e9ecef;
  border: 0.07rem solid #dddddd;
  display: flex;
  align-items: center;
  height: 1.3rem;
}

.toggle-div1 {
  position: absolute;
  border-radius: 1.8rem;
  background-color: #fff;
  height: 0.75rem;
  width: 0.75rem;
  border: 0.07rem solid #dddddd;
  left: 0.13rem;
  transition: left 200ms ease;
}

.toggle-div2 {
  min-width: 1.5rem;
  margin: 0 0 0 1rem;
  transition: margin 150ms ease;
}

.toggle-label2 {
  padding-left: 0.75rem;
}

#disabled-input:checked + .toggle-label1,
#required-input:checked + .toggle-label1 {
  background-color: #228be6;
  border-color: #228be6;
}
#disabled-input:checked + .toggle-label1 .toggle-div1,
#required-input:checked + .toggle-label1 .toggle-div1 {
  left: calc(100% - 1rem);
  border-color: #fff;
}
