.size-1 {
  font-size: 0.625rem;
}
.size-2 {
  font-size: 0.75rem;
}
.size-3 {
  font-size: 0.875rem;
}
.size-4 {
  font-size: 1rem;
}
.size-5 {
  font-size: 1.125rem;
}
.size-6 {
  font-size: 1.25rem;
}

.border-1 {
  border-radius: 0.125rem;
}
.border-2 {
  border-radius: 0.25rem;
}
.border-3 {
  border-radius: 0.5rem;
}
.border-4 {
  border-radius: 1rem;
}
.border-5 {
  border-radius: 2rem;
}
