.size-1 {
  font-size: 0.625rem;
}

.size-2 {
  font-size: 0.75rem;
}

.size-3 {
  font-size: 0.875rem;
}

.size-4 {
  font-size: 1rem;
}

.size-5 {
  font-size: 1.125rem;
}

.size-6 {
  font-size: 1.25rem;
}
